.size{
    margin-bottom: 10px;
    background-color: gray;
    width: 1000x;
    height: 100px
}
.footer{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-top: 30px;
    ;
    
    transition: .3s;
    color: red;
    cursor: pointer;
}
.footer:hover{
    color: black;
}
