.container{
    &-button{
    color:white;
    font-size:18px;
    border:none;
    padding:15px;
    margin:30px;
    cursor: pointer;
    border-radius: 3px
    }
    &-button:hover{
        opacity:0.7
    }
}