.ModalWindow{
    background: #e74c3c;
    width:50%;
    margin:0 auto;
    border-radius: 5px;
    transition: opacity 2s;
    
    &-container{
    width: 100%;
    padding-bottom: 50px
    }
    &-header{
        width: calc(100%-40px);
        padding: 20px;
        color: white;
        background: #d44637;
        font-weight: bold;
        font-size: 25px;
        display: flex;
        justify-content: space-between
    }
    &-cancel{
        width:30px;
        height:30px;
        text-align: center;
        color:white;
        border: none;
        background: #d44637;
        font-size: 25px;
        cursor: pointer
    }
    &-body{
        color: white;
        text-align: center;
        font-size: 18px;
        padding-top: 20px;
        font-weight: bold
    }
    &-buttons{
        text-align: center;
        margin-top: 40px
    }
    &-but-tons{
        width: 80px;
        height: 30px;
        border: none;
        border-radius: 3px;
        color: white;
        background: #b3382c;
        font-weight: bold;
        margin-right: 10px;
        cursor: pointer;
    }
}