.nav-wrapper {
  text-align: center;
  padding-top: 30px;
  .nav-link {
    color: red;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 900;
    &:hover{color: rgb(0, 0, 0);}
    &.active{color: rgb(21, 201, 204);}
  }
}