*{
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
  }
body{
    background: url("./bg.png") no-repeat center/cover;
    }
.container {
    max-width: 960px;
    margin: 0 auto;  
    }
.cart-area{
    width: 100%;
    height: 100px;
    background: gray;
    margin-bottom: 30px;
}
